<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
 
  <connectionStrings>
	 <!-- <add name="cnKong" connectionString="Data Source=SERVER2019;Initial Catalog=Voip1;User ID=sa;Password=Caronte00" />-->
	  <!--  <add name="cnKong" connectionString = "Server=LAPTOP-8OH69FI3\\SQLEXPRESS01;Database=kongnew;Trusted_Connection=True;Encrypt=false"/>-->
	<add name="cnKong" connectionString="Server=VMWARE\MSSQLSERVER2019;Database=kongNew;Trusted_Connection=True;Encrypt=false;" />
  </connectionStrings>
  <appSettings>
	 
  </appSettings>
 
  
</configuration>