USE [kongNew]
GO
/****** Object:  StoredProcedure [dbo].[sp_filediLog]    Script Date: 27/05/2024 22:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_filediLog] 
as 
begin
SELECT 
    cf,
    cognome AS Denominazione,
    sesso AS ComuneDomicilio,
    DTNASCITA AS SiglaComuneDomicilio,
    LUOGONASCITA AS DataInizio,
    INDIRIZZO,
    CODICECOMUNE,
    MESIFATTURAZIONE,
    AMMONTAREFATTURATO,
    CONCAT(
        CASE WHEN cf IS NULL THEN 'cf,' ELSE '' END,
        CASE WHEN cognome IS NULL THEN 'cognome,' ELSE '' END,
        CASE WHEN sesso IS NULL THEN 'sesso,' ELSE '' END,
        CASE WHEN DTNASCITA IS NULL THEN 'DTNASCITA,' ELSE '' END,
        CASE WHEN LUOGONASCITA IS NULL THEN 'LUOGONASCITA,' ELSE '' END,
        CASE WHEN DATAINIZIO IS NULL THEN 'DATAINIZIO,' ELSE '' END,
        CASE WHEN INDIRIZZO IS NULL THEN 'INDIRIZZO,' ELSE '' END,
        CASE WHEN CODICECOMUNE = ' ' OR CODICECOMUNE IS NULL THEN 'CODICECOMUNE,' ELSE '' END,
        CASE WHEN MESIFATTURAZIONE IS NULL THEN 'MESIFATTURAZIONE,' ELSE '' END,
        CASE WHEN AMMONTAREFATTURATO IS NULL THEN 'AMMONTAREFATTURATO' ELSE '' END
    ) AS DESCRIZIONE
FROM 
    UFFICIO
WHERE 
   
        cf IS NULL OR 
        cognome IS NULL OR 
        sesso IS NULL OR 
        DTNASCITA IS NULL OR 
        LUOGONASCITA IS NULL OR 
        DATAINIZIO IS NULL OR 
        INDIRIZZO IS NULL OR 
        CODICECOMUNE = ' ' OR 
        CODICECOMUNE IS NULL OR
        MESIFATTURAZIONE IS NULL OR 
        AMMONTAREFATTURATO IS NULL
  end;